
.home-page{
    
    background-color: hsl(261, 56%, 33%);
  
}
.assignment1{
    background-color:rgb(206, 206, 94);
}
.assignment2{
    
    background-image: url(09.png);
}
#navigation ul{
list-style-type: none;
word-spacing: 10pt;
}

p
{
    color: red; 
    padding: 100pt;
    padding-top: 10pt;
    padding-bottom: 10pt; 
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: yellow 92, 92, 88;
    background-size: 10pt;
    background-color: slategray;
    padding: 10pt;
}

h1{
    background-color: turquoise;
}

a:hover{
    color:white;
    background-color: red;
}
.containor{
    display: flex;
    
}
.Box1{
    flex: 1;
    order: 1;
    height: 400pt;
    width: auto;
    background-size: cover;
    flex-basis:30%;
    align-self: flex-start;
    position: fixed;

}
.Box2{
    flex:1;
    order:2;
    padding-left: 25%;
    flex-basis:70%;
    height: max-content;
}
.center{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}